.nav{
    padding: 1.25rem 0;
}
.nav__icon, .nav__close, .nav__bgOverlay{
    display: none;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
}
.nav__list{
    list-style: none;
}
.nav__list li{
    display: inline-block;
    margin: 0 1rem;
}
.nav__list .nav__link{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--black-2);
    padding: 0.5rem;
}
.nav__list li:hover .nav__link{
    color: var(--green1);
}
.btn{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 20px;
    color: var(--green1);
}
.primary-btn{
    background-color: var(--green1);
    color: var(--white-1);
}
@media only screen and (max-width: 768px){
    .nav{
        position: relative;
    }
    .nav__icon{
        display: block;
    }
    .nav__icon svg , .nav__close svg{
        pointer-events: none;
        width: 35px;
        height: 35px;
    }
    .nav__close{
        display: block;
        position: absolute;
        top: 18px;
        right: 18px;
        cursor: pointer;
    }
    .nav__list li{
        display: block;
        padding: 10px;
    }
    .nav__list{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 70%;
        background: var( --lightGreen-1);
        margin: 0;
        padding-right: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: translateX(0);
        overflow: hidden;
        transition: 0.3s ease-in transform;

    }
    .nav__list.show{
        transform: translate(-100%);
    }
    .nav__bgOverlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background-color: rgba(19, 18, 18, 0.85);
        display: none;
    }
    .nav__bgOverlay.active{
        display: block;
    }
}