.nav{
    padding: 2rem 0;
}
.nav__icon, .nav__close, .nav__bgOverlay{
    display: none;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
}
.nav__list{
    list-style: none;
}
.nav__list li{
    display: inline-block;
    margin: 0 1rem;
}
.nav__list .nav__link{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--black-2);
    padding: 0.5rem;
}
.nav__list li:hover .nav__link{
    color: var(--green1);
}
.btn{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 20px;
    color: var(--green1);
}
.primary-btn{
    background-color: var(--green1);
    color: var(--white-1);
}
@media only screen and (max-width: 768px){
    .nav{
        position: relative;
    }
    .nav__icon{
        display: block;
    }
    .nav__icon svg , .nav__close svg{
        pointer-events: none;
        width: 35px;
        height: 35px;
    }
    .nav__close{
        display: block;
        position: absolute;
        top: 18px;
        right: 18px;
        cursor: pointer;
    }
    .nav__list li{
        display: block;
        padding: 10px;
    }
    .nav__list{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 70%;
        background: var( --lightGreen-1);
        margin: 0;
        padding-right: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: translateX(0);
        overflow: hidden;
        transition: 0.3s ease-in transform;

    }
    .nav__list.show{
        transform: translate(-100%);
    }
    .nav__bgOverlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background-color: rgba(19, 18, 18, 0.85);
        display: none;
    }
    .nav__bgOverlay.active{
        display: block;
    }
}
/* Footer Section*/
footer{
    background: var(--lightGreen-1);
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.footer__wrapper{
    display: flex;
}
.footer__logo{
    max-width: 150px;
    margin-bottom: 2rem;
}
.footer__desc{
    font-size: 2rem;
    color: var(--black-2);
    max-width: 300px;
    margin-bottom: 1.5rem;
}
.footer__socials__heading{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-2);
    margin-bottom: 0.5rem;
}

.footer__socials__list li{
    display: inline-block;
    list-style: none;
    margin-right: 0.5rem;
}

.footer__socails svg {
    width: 20px;
}
.footer__col1{
    flex: 3;
}
.footer__col2, .footer__col3, .footer__col4{
    flex: 1;

}
.footer__socials svg{
    width: 20px;
}
.footer__socials a{
    padding: 0.5rem 0.8rem;
    background: var(--white-1);
    border: 1px solid var(--green1);
    border-radius: 8px;
    color: var(--black-2);
}
.footer__text__title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-2);
    margin-bottom: 2rem;
}
.footer__link a{
    font-family: Raleway;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-2);
    margin-bottom: 1.5rem;
}
@media only screen and (max-width: 768px){
    .footer__wrapper{
        flex-direction: column;
        gap: 2rem;
    }
    .footer__desc{
        font-size: 1.4rem;;
        max-width: none
    }
    .footer__text__title{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    .footer__link a{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
}
/*OurStoreInfo Styles*/
.ourStoreInfo__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.ourStoreInfo__icon img{
    width: 47px;
    margin-bottom: 2rem;
}
.ourStoreInfo__items{
    background: var(--lightGreen-1);
    padding: 40px 0px;
    min-width: 200px;
    border-radius: 12px;
    text-align: center;
}
.ourStoreInfo__title{
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-2);
    margin-bottom: 1rem;
}
.ourStoreInfo__info{
    font-family: Raleway;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--black-1);
}
@media only screen and (max-width: 768px){
    .ourStoreInfo__wrapper{
        align-items: center;
        gap: 1rem;
    }
    .ourStoreInfo__items{
       min-width: 150px;;
        padding: 30px 20px;
    }
    .ourStoreInfo__icon img{
        width: 30px;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .ourStoreInfo__title{
       font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .ourStoreInfo__info{
        font-size: 1.4rem;
    }
}
